@charset "utf-8";
/* 冒頭でimport */
@import url('https://fonts.googleapis.com/css?family=Raleway:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,700&display=swap&subset=japanese');
/* フォントを指定したいところで */

logo img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover; /* 画像のトリミング */
}

logotohome img{
    border-radius: 70%;
    width: 70px;
    height: 70px;
    object-fit: cover; /* 画像のトリミング */
}



/* ========== common ========== */
html, body {
	font-size: 16px;
	font-family: sans-serif;
	color: #393939;
    margin-left: 15px;
    margin-bottom: 40px;
	background: #FFFFFF	;
}
h1{
    text-indent: 0em;
}
h2{
    margin-left: 1em;
    margin-top: 1em;
}
h3{
    margin-left: 2em;
}
div{
    margin-top: 1em;
    margin-left: 3em;
}
p{
    margin-left: 3em;
}
span.blackback{
    text-indent: 3em;
    background: #393939;
    color: #efefef;
}
.dezain12{
    font-size: 45px;
    font-weight: bold;
    font-family: "游ゴシック","YuGothic","Yu Gothic","游ゴシック体"; font-weight: 500;
    margin: 90px;
}
.f1{
    font-family: "游ゴシック","YuGothic","Yu Gothic","游ゴシック体"; font-weight: 500;
    font-weight: bold;
    clear: both;
}
.hp1{
    font-size: 25px;
    margin: 30px;
    float: left;
}
.hp2{
    font-size: 25px;
    margin: 30px;
    float: left;
}
.test{
    font-size: 25px;
    margin: 30px;
    float: left;
}
.f2{
    font-size: 20px;
    font-family: "游ゴシック","YuGothic","Yu Gothic","游ゴシック体"; font-weight: 500;
    margin: 90px;
    float: right;
}
